<div class="row">
    <div class="col-md-6">
      <div id="carouselExampleIndicators" class="carousel slide my-3" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://images.deliveryhero.io/image/fd-bd/campaign-assets/d40c587f-a85b-11ed-8301-de364202517d/desktop_tile_EnUmYd.png?height=240&quality=95&width=560&" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images.deliveryhero.io/image/fd-bd/campaign-assets/d40c587f-a85b-11ed-8301-de364202517d/desktop_tile_EnUmYd.png?height=240&quality=95&width=560&" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images.deliveryhero.io/image/fd-bd/campaign-assets/d40c587f-a85b-11ed-8301-de364202517d/desktop_tile_EnUmYd.png?height=240&quality=95&width=560&" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
    </div>
    <div class="col-md-6">
      <div id="carouselExampleIndicators" class="carousel slide my-3" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://images.deliveryhero.io/image/fd-bd/campaign-assets/d40c587f-a85b-11ed-8301-de364202517d/desktop_tile_EnUmYd.png?height=240&quality=95&width=560&" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images.deliveryhero.io/image/fd-bd/campaign-assets/d40c587f-a85b-11ed-8301-de364202517d/desktop_tile_EnUmYd.png?height=240&quality=95&width=560&" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images.deliveryhero.io/image/fd-bd/campaign-assets/d40c587f-a85b-11ed-8301-de364202517d/desktop_tile_EnUmYd.png?height=240&quality=95&width=560&" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
    </div>
  </div>
