<!-- <div class="container">
    <div class="p-5">
      <h1 class="h1 border-bottom border-primary">Add new food</h1>
      <form>
        <div class="row mt-2">
          <div class="col-md-7 shadow p-3 ">
            <div class="m-2">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Title</label>
                <input type="text" [(ngModel)]="title" class="form-control" id="exampleFormControlInput1" name="title"
                  placeholder="Enter food title" #title1="ngModel" required minlength="4">
                <ul *ngIf="title1.dirty && title1.invalid" class="text-danger list-unstyled">
                  <li *ngIf="title1.errors?.['required']">Empty Not Allowed</li>
                  <li *ngIf="title1.errors?.['minlength']">Minimum length 4 charecter.</li>
                </ul>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                <textarea class="form-control" [(ngModel)]="description" id="exampleFormControlTextarea1" name="des"
                  rows="3"></textarea>
              </div>
              <div class="mb-3">
                <label for="formFileLg" class="form-label">Food Photo Upload</label>
                <input class="form-control form-control-lg" name="photo" id="formFileLg" type="file">
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row g-3 shadow ms-2 p-3 mt-1">
              <div class="col-md-12">
                <label for="inputCity" class="form-label">ID</label>
                <input type="number" class="form-control" [(ngModel)]="id" name="id" id="inputCity" placeholder="1001">
              </div>
              <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Price</label>
                <input type="text" class="form-control" [(ngModel)]="price" name="price" id="inputEmail4"
                  placeholder="15.00">
              </div>
              <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Discount %</label>
                <input type="text" class="form-control" [(ngModel)]="discount" name="discount" id="inputPassword4"
                  placeholder="5">
              </div>
              <div class="col-12">
                <label for="inputAddress" class="form-label">Type</label>
                <input type="text" [(ngModel)]="type" class="form-control" name="type" id="inputAddress"
                  placeholder="Vebarage">
              </div>
              <div class="col-12">
                <label for="inputAddress2" class="form-label">Vendor</label>
                <input type="text" [(ngModel)]="vendor" class="form-control" name="vendor" id="inputAddress2"
                  placeholder="Burger King">
              </div>
              <div class="col-md-12">
                <label for="inputCity" class="form-label">Location</label>
                <input type="text" [(ngModel)]="location" class="form-control" name="location" id="inputCity"
                  placeholder="125/A Mirpur">
              </div>
  
              <div class="col-12">
                <button type="submit" class="btn btn-primary" (click)="saveFood()">Add Food</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div> -->
